/* variable definitions for reuse */

// colors
$font-white: #fff;
$silver: #BABABA;
$picture-container: rgb(75, 76, 168);
$info-container: #5253B9;

// font-size
 $font-xs: 0.75rem; //12px
 $font-sm: 0.875rem; //14px
 $font-md: 1rem; //16px
 $font-lg: 1.25rem; // 20px
 $font-xl: 1.5rem; //24px
 $font-xxl: 1.75rem; //28px
 $font-xxxl: 2rem; //32 px
 $font-xxxxl: 2.5rem3.0rem; //40px
