<div class="user-info">
  <div class="info-container">
    <div class="picture-container">
      <img class="picture" [src]="data?.avatarUrl" *ngIf="data" />
    </div>
    <div>
      <span class="name">{{data?.name}}</span>
      <span>{{data?.login}}</span>
    </div>
  </div>
  <div class="detail-container">
    <div class="summary">
        {{data?.bio}}
    </div>
    <div>
      <img src="/assets/img/users-icon.svg" aria-hidden="true" />
      <span>@avajs @chalk @yeoman</span>
    </div>
    <div>
      <img src="/assets/img/location-icon.svg" aria-hidden="true" />
      <span>São Paulo, SP</span>
    </div>
    <div>
      <img src="/assets/img/mail-icon.svg" aria-hidden="true" />
      <span>{{data?.email}}</span>
    </div>
    <div>
      <img src="/assets/img/globe-icon.svg" aria-hidden="true" />
      <span>{{data?.websiteUrl}}</span>
    </div>
  </div>
</div>
