<div class="user-info">
  <div class="info-container">
      <div class="picture-container">
          <div class="picture"></div>
      </div>
      <div>
          <span class="name">Sindre Sorhus</span>
          <span>sindresorhus</span>
      </div>
  </div>
  <div class="detail-container">
    <div class="summary">
      Maker . Full-Time . Open-Sourcerer . Into Swift and Node.js
    </div>
    <div>
      <img src="/assets/img/users-icon.svg" aria-hidden="true" />
      <span>@avajs @chalk @yeoman</span>
    </div>
    <div>
      <img src="/assets/img/location-icon.svg" aria-hidden="true" />
      <span>São Paulo, SP</span>
    </div>
    <div>
      <img src="/assets/img/mail-icon.svg" aria-hidden="true" />
      <span>sindresorhus@gmail.com</span>
    </div>
    <div>
      <img src="/assets/img/globe-icon.svg" aria-hidden="true" />
      <span>sindresorhus.com</span>
    </div>
  </div>
</div>
