<div class="user-info">
  <div class="info-container">
    <div class="picture-container">
      <img class="picture" [src]="data?.avatarUrl" *ngIf="data" />
    </div>
    <div>
      <span class="name">{{data?.name}}</span>
      <span>{{data?.login}}</span>
    </div>
  </div>
  <div class="detail-container">
    <div class="summary">
        {{data?.bio}}
    </div>
    <div *ngIf="data?.companyHTML" class="info-data">
      <img src="/assets/img/users-icon.svg" aria-hidden="true" />
      <div [innerHTML]="data?.companyHTML"></div>
    </div>
    <div *ngIf="data?.location" class="info-data">
      <img src="/assets/img/location-icon.svg" aria-hidden="true" />
      <span>{{data?.location}}</span>
    </div>
    <div *ngIf="data?.email" class="info-data">
      <img src="/assets/img/mail-icon.svg" aria-hidden="true" />
      <span><a [href]="data?.email ? 'mailto:' + data?.email : null">{{data?.email}}</a></span>
    </div>
    <div *ngIf="data?.webSiteUrl" class="info-data">
      <img src="/assets/img/globe-icon.svg" aria-hidden="true" />
      <span><a [href]="data?.webSiteUrl">{{data?.webSiteUrl}}</a></span>
    </div>
  </div>
</div>
