.search-component {
  margin-bottom: 64px;

  .logo,
  .search-input {
    display: inline-block;
  }

  .logo {
    margin-right: 30px;
  }

  .search-input input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $silver;
    line-height: 30px;
    width: 100%;
    background: no-repeat url("/assets/img/search.svg") right;
  }

  .picture {
    border: 1px solid #000;
    border-radius: 100%;
    height: 64px;
    width: 64px;
    margin-top: -15px;
  }
}
